get "/about" do <h3><div class="title-column">
	<a id="title-link" href="http://www.josecarloscasado.com" title="About @name">
			@name if @profession do / @profession endif
	</a>
	</div></h3> end
	<h4><div class="title-column-list">
    <ul style="
  -webkit-padding-start: 0px !important; -webkit-margin-before: -5px !important; text-align: left !important;">
		<li><a href="./about">contact</a></li>
		<li><a href="./resume">resume</a></li>
		<li><a href="./essays">essays</a></li>
	</ul>
	</div>
	</h4>